<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>gui.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.dieschnittstelle.jee.esa.servlets.TouchpointServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.dieschnittstelle.jee.esa.servlets.ProductServletContextListener</listener-class>
  </listener>
  <filter>
    <display-name>HttpTrafficLoggingFilter</display-name>
    <filter-name>HttpTrafficLoggingFilter</filter-name>
    <filter-class>org.dieschnittstelle.jee.esa.servlets.HttpTrafficLoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HttpTrafficLoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>resteasy.scan</param-name>
    <param-value>true</param-value>
  </context-param>
  <listener>
    <listener-class>
       org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
  </listener>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/resteasy/*</url-pattern>
  </servlet-mapping>
</web-app>